<!DOCTYPE html>
<html>
<!-- スタイルシートやタイトルなどのhead情報を共通化 -->

<head th:replace="~{layout/layout::head(title=ログイン)}"></head>

<body>
	<!--全体を中央寄せするためのコンテナ-->
	<div class="container mt-5 w-25 p-3">
		<!--カードパーツ-->
		<div class="card shadow-sm">
			<!--灰色のところ-->
			<div class="card-header bg-light">
				<span>ログイン</span>
			</div>

			<div class="card-body p-4">
				<form th:method="post" th:action="@{/login}">

					<!-- メールアドレス -->
					<div class="mb-3">
						<label for="mail" class="form-label">メールアドレス:</label>
						<input type="email" class="form-control" id="login_id" name="login_id"
							th:classappend="${message} ? 'is-invalid'">

						<p th:if="${message}" th:text="${message}" class="text-danger mt-1 mb-0"
							style="font-size: 0.875rem;"></p>
					</div>

					<!-- Password -->
					<div class="mb-3">
						<label for="pass" class="form-label">Password:</label>
						<input type="password" class="form-control" id="password" name="password">
					</div>

					<!--ボタン-->
					<div class="text-end">
						<input type="submit" class="btn btn-success" value="ログイン">
					</div>

				</form>
			</div>
		</div>
	</div>
</body>

</html>